<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.pos.mapper.BizProfitRuleMapper">

    <resultMap type="BizProfitRule" id="BizProfitRuleResult">
        <result property="profitId"    column="profit_id"    />
        <result property="profitMin"    column="profit_min"    />
        <result property="profitMax"    column="profit_max"    />
        <result property="profitUnit"    column="profit_unit"    />
        <result property="profitType"    column="profit_type"    />
        <result property="profitAmount"    column="profit_amount"    />
        <result property="profitTop"    column="profit_top"    />
        <result property="profitLevel"    column="profit_level"    />
        <result property="monthlyMin"    column="monthly_min"    />
        <result property="monthlyTomTeams"    column="monthly_tom_teams"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>


</mapper>
